{
	"appId":"ONEX57DD551231508",
	"appKey":"ONEX57DD551231508_ANDROID",
	"base64Code":"",
	"packageName":"com.mccree.review",
	"rootPath":"mpaas/android/ONEX57DD551231508-default",
	"workspaceId":"default",
	"syncport":"443",
	"syncserver":"mpaas-mss.aliyuncs.com",
	"logGW":"https://mpaas-mas-loggw.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"mpaas-mps.aliyuncs.com",
	"mpaasapi":"https://cn-hangzhou-component-gw.cloud.alipay.com/mgw.htm",
	"rpcGW":"https://mpaas-mgs.aliyuncs.com/mgw.htm",
	"mrtcserver":"wss://cn-hangzhou-mrtc.cloud.alipay.com/ws",
	"mpaasConfigVersion":"V_1.0",
	"mpaasConfigEnv":"ONEX_CLOUD",
	"mpaasConfigPluginExpired":"",
	"mpaasConfigLicense":"NqJtvnhJ0IR+nf7YUjkmN7TN6iEmP/xNi2T9lc03wmqdKNL9ou+jUzgX0y8CVy1FwDDwPGrD5sPBpEdgo7pAiI322KSmhDX8KpZTBea874chquCZJSDf4FUJghb+6DRe8WSlKCgY4A3x3XUtnUUTyjAMdeGSmsTx63Z8Eh9w+cgtBJzje245O/QsG6VXln46D4DBytxiKbTTSjcs6LC3VQ25bTJp7c+78F7xzK2BhFEM3ln6/5WTSI4m7kc3VGo41EexQZPbN1NUNgS/bWbMKl6OmaVb7hLtXRYWtACp+JyZb/aZfYOPvxllrRheDiVCWndPqudPDE7eLa3ONklfvw=="
}