<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mccree.review">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Review"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".module.database.DatabaseActivity"
            android:exported="true" />
        <activity
            android:name=".module.mpaas.MPaaSSplashActivity"
            android:exported="true" />
        <activity
            android:name=".module.fragment.FragmentActivity"
            android:exported="true" />
        <activity
            android:name=".module.tools.ToolsActivity"
            android:exported="true" />

        <meta-data
            android:name="nebula.android.meta.enable"
            android:value="true" />
        <meta-data
            android:name="UCSDKAppKey"
            android:value="WCz9Y2aoX2q9yug+22/+NOFe8/LYzZeNEPnJguCO8ZK1/e3yYwuOTjXsTeWrj6WpICFDRMbu5Po4OXCWvvzY1g==" />
        <meta-data
            android:name="com.mpaas.cdp.autoInit"
            android:value="true" /> <!-- 适配targetSdkVersion = 28 -->
        <!--
<uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f46259a9380975642d1a62f94554a7aa" /> <!-- 高德定位 Service -->

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.mpaas.MPaaSActivity" />
        <activity android:name=".module.view.ViewActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <meta-data
            android:name="privacy_switcher"
            android:value="false" /> <!-- 弹屏广告高宽度设置 -->
        <meta-data
            android:name="com.mpaas.cdp.space.height"
            android:value="360" />
        <meta-data
            android:name="com.mpaas.cdp.space.width"
            android:value="270 " />
        <meta-data
            android:name="com.mpaas.cdp.space.dpmode "
            android:value="px" />
    </application>

</manifest>